html{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  }
/*kommentage werden so geschrieben*/
body{
  background-color: lightgrey;
  margin: 0;
}
header{
  background-color: darkred;
  color: white;
}

/* "cmd"+"/" to write a comment */
li{
    display: inline; /*display: flex; im anderen Tutorial*/
    padding: 5px 20px;
    margin:0 auto;
}
P{
  text-align: justify;
  margin:10px;
}

.article{
  display: flex;
}
.news{
  background-color:lightblue;
  border: white solid 2px;
}
.testberichte{
  background-color:lightpink;
  border: white solid 2px;
}
.produktvorstellungen{
  background-color:burlywood;
  border: white solid 2px;
}
.reiseberichte{
  background-color:lightgreen;
  border: white solid 2px;
}
.forum{
  background-color:azure;
  border: white solid 2px;
}
.special{
  background-color:pink;
  border: white solid 2px;
}


/*

html, body {
  height:100%;
  overflow:hidden;
}
header, nav, footer {
  display: block;
}
header {
  position:fixed
  width:100%;
}
nav {
  position:fixed;
  width:100%;
}
main {
  top:15%;
  height:80%;
  position:relative;
  overflow:auto;
  width:100%;
}
footer {
  bottom:0px;
  position:absolute;
  height:5%;
  width:100%;
}

*/
